body, html {
    margin: 0;
    padding: 0;
    font-family: "Reddit Sans", sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        "header header header header header"
        "sidebar content content content content"
        "footer footer footer footer footer";
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    min-height: 100vh;
}

/* SIDEBAR STYLE BEGIN */
.sidebar {
    grid-area: sidebar;
    /* background-color:rgba(1, 62, 1, 0.239); */
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sort, .categories {
    margin-bottom: 2px;
}
.sort{
    font-size: 20px;
}
#sorting-options, .categories-box {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 30px;
}
/* SIDEBAR STYLE END*/


/* PRODUCT PAGE START */
.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    background-color: white;
    overflow: auto;
}

#products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.product {
    border: 1px solid rgb(10, 81, 15);
    padding: 10px;
    border-radius: 5px;
    /* box-shadow: 2px 3px 10px rgba(1, 62, 1, 0.773); */
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.cart-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap:25px;
}

.cart-controls button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: rgba(149, 231, 149, 0.987);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
}

.cart-controls span {
    width: 30px;
    text-align: center;
    font-size: 16px;
    margin: 0 10px;
}


.cart-icon {
    color: rgb(27, 26, 26);
  
}

#cart-count {
    margin-left: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0 5px;
}

.title, .description, .price, .science {
    margin: 10px 0;
}
.product {
    position: relative;  /* Set the product to a relative position */
    border: 1px solid rgb(10, 81, 15);
    padding: 10px;
    border-radius: 5px;
}

.description-container {
    display: none;  
    position: absolute;  
    top: 0; 
    left: 0;  
    width: 100%;
    height: 100%;
    font-weight: bold;
    background-color: rgba(149, 231, 149, 0.336); 
    padding: 25px;
    box-sizing: border-box;
    border-radius: 5px;
}

.product:hover .description-container {
    display: block; 
}

.title {
    color: rgb(10, 81, 15);
    font-weight: 600;
}

.title-house{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size:50px;
    text-shadow: 2px 5px 15px rgba(1, 62, 1, 0.57);
}
.price {
    color: red;
}

.science {
    font-size: 12px;
    font-style: italic;
}

input[type="checkbox"] {
    width: 15px; 
    height: 15px; 
    border-radius: 50%; 
    vertical-align: middle; 
    cursor: pointer; 
    border: 1px solid #ccc; 
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    background-color: white; 
}


input[type="checkbox"]:checked {
    background-color: #4caf4f8e; 
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M20.292 5.292a1 1 0 0 1 0 1.414l-11 11a1 1 0 0 1-1.414 0l-5-5a1 1 0 1 1 1.414-1.414L9 15.586l10.292-10.293a1 1 0 0 1 1.414 0z"/></svg>'); /* Using an SVG for the checkmark */
    background-position: center; 
    background-repeat: no-repeat; 
}



/*  PRODUCT PAGE END*/



/* NAVBAR STYLES START */


.logo {
    height: 75px;
}

#navbar-links a, .footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}


.navbar {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #a50e94; */
    padding: 0 20px;
}



.nav-links {
    display: flex;
    align-items: center;
}


.menu-icon {
    display: none; /* Hidden initially, visible in mobile view */
    font-size: 28px;
    cursor: pointer;
    color: black;
    
   
}

.nav-links a:hover {
    background-color:  rgb(149, 231, 149);
    height:3px;
    }

/* NAVBAR STYLES END */

/* CONTACT PAGE START */

.main-content{
    padding: 9px;  }

.form-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This will take the full height of the viewport */
    width: 95vw; /* This will take the full width of the viewport */
}

.form-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1cm;
    margin-bottom: 15px;
    border: solid 1px black;
    width: 75%; /* Adjust this as needed to control the width of the form content */
    gap: 20px;
    border-radius: 55px;
    font-size: 25px;
    background-color: rgba(149, 231, 149, 0.091);
    color: white;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.976);
    box-shadow: 25px 20px 8px rgba(0,0,0,0.1);
    
}


.form-content h2{

    font-size: 35px;
}

.submit-btn{
    background-color: rgba(149, 231, 149, 0.433);
    color:black;
    height: 50px;
    width: 150px;
}

.submit-btn:hover{
    background-color: rgb(255, 255, 255);
}
input{ 
  
    width: 300px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: transparent;
}

input[type="submit" i] {
   
    border-style: outset;
   ;
}

#message{
    height: 100px;
    width: 300px;
  }



/* CONTACT PAGE END */



/* Footer Styling */
.footer {
    grid-area: footer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(149, 231, 149, 0.167);
    padding: 0 20px;
}

.footer-logo {
    height: 50px;
}
#footer-icons{
    margin: 10px;
}

.social-media {
    display: flex; /* Ensures icons are laid out horizontally */
    justify-content: center; /* Centers icons horizontally */
    align-items: center; /* Centers icons vertically */
}

.social-media a {
    margin: 0 10px; /* Provides spacing between icons */
}




.footer-links a:hover{
color: rgb(149, 231, 149);
}

/* Responsive Styles for Smaller Screens */
@media (max-width: 390px) {
    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap:25px;
        width: 100%;
        height: 10vh;
        position: absolute;
        top: 65px;
        font-size: 15px;
        left: 0;
        right: 0;
        display: none; /* Hidden by default */
        background-color: rgba(149, 231, 149, 0.371);
        border-radius: 3px;
        z-index: 1000; 
    
         /* Ensure the menu is above other content */
    }
    #footer-icons{
        margin-top: 15px;
        margin-bottom: 15px;
    }
   
    .menu-icon {
        display: block; /* Shows the menu icon on smaller screens */
        margin-left: 55%;  }
       
       
       
        .social-media {
            justify-content: space-around; /* Adjusts spacing to fit smaller screens */
        }     
}


